{% extends 'users/base.html' %}
{% load static %}


{% block title %} О компании {% endblock %}

{% block content %}
    <h1>Добро пожаловать на страницу информации о компании</h1> 
    
    <main>
        <h2>{{ company.name }}</h2>
        <img src="{{ company.logo.url }}" alt="{{ company.name }} Логотип" class="company-logo">
        <p><strong>Описание:</strong> {{ company.description }}</p>
        <p><strong>История:</strong> {{ company.history }}</p>
        <p><strong>Юридическое название:</strong> {{ company.legal_name }}</p>
        <p><strong>Адрес:</strong> {{ company.address }}</p>
        <p><strong>Регистрационный номер:</strong> {{ company.registration_number }}</p>
        <p><strong>Банковские реквизиты:</strong> {{ company.bank_details }}</p>
        
        {% if company.video %}
            <h3>Видео о компании:</h3>
            <video width="600" controls>
                <source src="{{ company.video.url }}" type="video/mp4">
                Ваш браузер не поддерживает видео тег.
            </video>
        {% endif %}

        
        <p><strong>Нажмите на текст ниже, чтобы скачать сертификат</strong></p>
        <a href="{% static 'images/sertificat.jpg' %}" download="sertificat.jpg">Скачать сертификат</a>

    </main>

{% endblock %}

</body>
</html>