{% extends 'users/base.html' %}

{% load static %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p><strong>Дата создания:</strong> {{ article.time_create }}</p>
    {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.title }}" style="width: 100px;">
    {% endif %}
    <div>
        <h2>Содержание:</h2>
        <p>{{ article.content }}</p>
    </div>
    <a href="javascript:history.back();">Назад к новостям</a>
{% endblock %}