{% extends 'users/base.html' %}

{% load static %}

{% block title %}Новости{% endblock %}

{% block content %}
    <h1>Новости</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.summary }}</p>
                {% if article.image %}
                    <img src="{{ article.image.url }}" alt="{{ article.title }}" style="width: 100px;">
                {% endif %}
                <a href="{% url 'news_details' article.id %}">Читать далее</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}