{% extends 'users/base.html' %}
{% load static %}

{% block title %}Сотрудники{% endblock %}

{% block content %}
    <h1>Сотрудники компании</h1>
    <div class="employee-list">
        {% for employee in employees %}
            <div class="employee-item">
                <div class="employee-info">
                    <h3>{{ employee.user.username }}</h3>
                    {% if employee.photo %}
                        <img src="{{ employee.photo.url }}" alt="{{ employee.user.username }}" class="employee-photo">
                    {% endif %}
                    <p><strong>Должность:</strong> {{ employee.job_description }}</p>
                    <p><strong>Телефон:</strong> {{ employee.phone_number }}</p>
                    <p><strong>Email:</strong> {{ employee.email }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}