{% extends 'users/base.html' %}
{% load static %}

{% block title %} Добавление скидки {% endblock %}

{% block content %}   
    <h1>Добавление скидки</h1>
    <div class="form-container">
        <div class="login-form">
            <form method="post">
                {% csrf_token %}  
                
                {{ form.as_p }}
                
                <button class="form-control" type="submit">Добавить скидку</button>
            </form>
        </div>
    </div>

{% endblock %}