{% extends 'users/base.html' %} {% load static %} {% block title %} Главная {% endblock %} {% block content %}

<h1>Добро пожаловать на наш сайт!</h1>
<p class="introduction">Здесь вы можете найти информацию о нашем сервисе проката автомобилей.</p>

<br>

<div class="car-container-anim">
    <img src="{% static 'images/background-anim-transformed.png' %}" alt="Car" class="background-anim" id="car">
    <img src="{% static 'images/result2.png' %}" alt="Car" class="car-anim" id="car">
</div>

<br><br>

<section id="top">
    <img src="https://img.freepik.com/premium-vector/road-top-view-cartoon-asphalt-street-way_543062-3276.jpg?semt=ais_hybrid" id="bg" />
    <h2 id="text1_scroll">Качественный сервис</h2>
    <h2 id="text2_scroll">Эксклюзивные машины</h2>
    <img src="{% static 'images/car1.png' %}" id="car1" />
    <img src="{% static 'images/car2.png' %}" id="car2" />
    <img src="{% static 'images/car3.png' %}" id="car3" />
    <img src="{% static 'images/car4.png' %}" id="car4" />
</section>

<h2>Изменить слайдер:</h2>
<div class="slider-settings-form-container">
    <h2>Изменить настройки ротации:</h2>
    <form id="sliderSettingsForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.delay.label_tag }} {{ form.delay }}
        </div>

        <div class="form-group">
            {{ form.loop.label_tag }}
            <label class="switch">
                {{ form.loop }}
                <span class="sliderSwitch"></span>
            </label>
        </div>

        <div class="form-group">
            {{ form.navs.label_tag }}
            <label class="switch">
                {{ form.navs }}
                <span class="sliderSwitch"></span>
            </label>
        </div>

        <div class="form-group">
            {{ form.pags.label_tag }}
            <label class="switch">
                {{ form.pags }}
                <span class="sliderSwitch"></span>
            </label>
        </div>

        <div class="form-group">
            {{ form.auto.label_tag }}
            <label class="switch">
                {{ form.auto }}
                <span class="sliderSwitch"></span>
            </label>
        </div>

        <button type="submit">Сохранить</button>
    </form>
</div>


<div class="slider-container">
    <div class="slider" id="slider">
        <div class="slide">
            <a href="https://www.apple.com/" target="_blank">
                <img class="gg" src="{% static 'images/ban1.jpg' %}" alt="Slide 1">
            </a>
            <div class="caption">Лучшие телефоны в мире</div>
        </div>
        <div class="slide">
            <a href="https://www.tesla.com/" target="_blank">
                <img class="gg" src="{% static 'images/ban3.jpg' %}" alt="Slide 2">
            </a>
            <div class="caption">Лучшие машины в мире</div>
        </div>
        <div class="slide">
            <a href="https://www.nike.com/ru/" target="_blank">
                <img class="gg" src="{% static 'images/ban4.jpg' %}" alt="Slide 3">
            </a>
            <div class="caption">Лучшая одежда в мире</div>
        </div>
    </div>
    <div class="controls">
        <button class="prev" id="prevBtnImg">&#10094;</button>
        <button class="next" id="nextBtnImg">&#10095;</button>
    </div>
    <div class="pagination">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <div class="slide-count" id="slideCount">1/3</div>
</div>

<div class="slider-settings-container">
    <h2>Текущий интервал: <span id="currentDelay">{{ delay }}</span> мс</h2>
    <p>Цикличный показ: <span id="loopSetting">{{ looop|yesno:"Да,Нет" }}</span></p>
    <p>Навигация: <span id="navsSetting">{{ navs|yesno:"Включена,Выключена" }}</span></p>
    <p>Пагинация: <span id="pagsSetting">{{ pags|yesno:"Включена,Выключена" }}</span></p>
    <p>Автозапуск: <span id="autoSetting">{{ auto|yesno:"Включен,Выключен" }}</span></p>
</div>

<h1>Обратный отсчет: 1 час</h1>
<p id="countdown" style="text-align: center"></p>

<div class="container-loader">
    <div class="loader">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
    </div>
</div>

<br>

<div class="scene">
    <div class="person"></div>
    <div class="car">
        <div class="person-head"></div>
        <div class="headlight left"></div>
        <div class="headlight right"></div>
    </div>
    <div class="company-name-anim">Прокат премиум</div>
</div>

<div class="container-webApi">
    <div>
        <button id="pause" class="btn pause">Пауза</button>
        <button id="play" class="btn play">Играть</button>
        <button id="cancel" class="btn cancel">Отмена</button>
        <button id="faster" class="btn faster">Быстрее</button>
        <button id="slower" class="btn slower">Медленнее</button>
    </div>
    <img id="rect" src="{% static 'images/wheel2.png' %}">
</div>

<p>
    <em>Аренда автомобилей</em> <i>like</i> <b>седаны</b> <i>and</i> <b>внедорожники</b>. Аренда внедорожника в нашем агентстве стоит <s>$100 в день</s> $80 за день
    <small>(плюс налоги)</small>. <strong>Внимание:</strong> Арендуя
    <u>слишком много</u> автомобилей одновременно, вы можете столкнуться с трудностями. Пункт x<sub>5</sub> — это 5<sup>й</sup> пункт в нашем списке.
</p>


<div class="all">
    <article id="slider">
        <input checked type="radio" name="slider" id="switch1">
        <input type="radio" name="slider" id="switch2">
        <input type="radio" name="slider" id="switch3">
        <input type="radio" name="slider" id="switch4">
        <input type="radio" name="slider" id="switch5">
        <div id="slides">
            <div id="overflow">
                <div class="image">
                    <article><img src="{% static 'images/ban3.jpg' %}" alt="Image 1"></article>
                    <article><img src="{% static 'images/ban2.jpg' %}" alt="Image 1"></article>
                    <article><img src="{% static 'images/ban1.jpg' %}" alt="Image 1"></article>
                    <article><img src="{% static 'images/ban4.jpg' %}" alt="Image 1"></article>
                    <article><img src="{% static 'images/ban5.jpg' %}" alt="Image 1"></article>
                </div>
            </div>
        </div>
        <div id="controls">
            <label for="switch1"></label>
            <label for="switch2"></label>
            <label for="switch3"></label>
            <label for="switch4"></label>
            <label for="switch5"></label>
        </div>
        <div id="active">
            <label for="switch1"></label>
            <label for="switch2"></label>
            <label for="switch3"></label>
            <label for="switch4"></label>
            <label for="switch5"></label>
        </div>
    </article>
</div>


<section>
    <h2>Наши партнёры</h2>
    <div class="partners">
        {% for partner in partners %}
        <div class="partner-block">
            <a href="{{ partner.website }}" target="_blank">
                <img src="{{ partner.logo.url }}" alt="{{ partner.name }}" />
            </a>
            <p>{{ partner.name }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<br>
<h1>Последняя опубликованная статья</h1>
<section class="latest-article">
    <h2 class="article-title">{{ article.title }}</h2>
    <p class="article-summary">{{ article.summary }}</p>
    {% if article.image %}
    <img class="article-image" src="{{ article.image.url }}" alt="{{ article.title }}" /> {% endif %}
    <a class="read-more" href="{% url 'news_details' article.id %}">Читать далее</a>
</section>

<br>

<section class="sort-form">
    <form method="GET" action="{% url 'home' %}">
        <label for="sort_by_year">Сортировать по году:</label>
        <select name="sort_by_year" id="sort_by_year">
      <option value="">По умолчанию</option>
      <option value="asc">По возрастанию</option>
      <option value="desc">По убыванию</option>
    </select>
        <label for="sort_by_cost">Сортировать по цене:</label>
        <select id="sort_by_cost" name="sort_by_cost">
      <option value="">По умолчанию</option>
      <option value="asc">По возрастанию</option>
      <option value="desc">По убыванию</option>
    </select>
        <label for="sort_by_rental_cost">Сортировать по стоимости аренды в день:</label
    >
    <select id="sort_by_rental_cost" name="sort_by_rental_cost">
      <option value="">По умолчанию</option>
      <option value="asc">По возрастанию</option>
      <option value="desc">По убыванию</option>
    </select>
    <button type="submit">Применить</button>
  </form>
</section>

<section>
    <div class="car-grid">
        {% for car in cars %}
        <a href="{% url 'car_detail' car.id %}" class="no-highlight-link">
            <div class="car-info-wrapper">
                <div class="car-info">
                    <h2>{{ car.license_plate }}</h2>
                    <img src="{{ car.image.url }}" width="400" height="140" alt="{% static 'images/no.jpg' %}" />
                    <p>Model: {{ car.model }}</p>
                    <p>Body Type: {{ car.body_type }}</p>
                    <p>Year: {{ car.year }}</p>
                    <p>Car Cost: {{ car.car_cost }}</p>
                    <p>Rental Cost per Day: {{ car.rental_cost_per_day }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>    
</section>

<div id="pagination-controls">
</div>

<article>
  {% if user.is_authenticated %}
  <br />
  <h1>Календарь</h1>
  <div class="calendar-container">
    {{ cal|safe }}
  </div>
  <p>Текущий UTC: {{ user_timezone }}</p>
  <p>Текущая дата: {{ current_date }}</p>
  {% endif %}

  <div class="container-position">
    <button id="buttonDetect">Определить позицию</button>
    <div id="positionInfo"></div>
</div>

  <br/>
  <iframe class="yandex"
    frame
    src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad8f228a03c00625548dfc9e3719ccb326dec329acbc1f40c3ded9331bfbdade1&amp;source=constructor"
    height="500"
    frameborder="10"
  ></iframe>
</div>
</article>
<script type="text/javascript" src={% static "js/api_exapmles.js" %}></script>
<script type="text/javascript" src={% static "js/countdown.js" %}></script>
<script type="text/javascript" src={% static "js/pagination.js" %}></script>
<script type="text/javascript" src={% static "js/slider.js" %}></script>
<script type="text/javascript" src={% static "js/scroll.js" %}></script>
<script type="text/javascript" src={% static "js/apiDetectPos.js" %}></script>
<script type="text/javascript" src={% static "js/scroll_variant.js" %}></script>


{% endblock %}