{% extends 'users/base.html' %} {% load static %} {% block title %} Шутка {% endblock %} {% block content %}
<div class="joke-container">
    <h1>Случайная шутка:</h1>
    <p id="jokeSetup">{{ joke.setup }}</p>
    <p id="jokePunchline">{{ joke.punchline }}</p>
    <p id="jokeFullText">{{ full_text }}</p>
</div>

<div class="speech-container">
    <h2>Текст в голосовой перевод</h2>
    <textarea id="speachText" placeholder="Введите текст"></textarea>
    <div class="row">
        <select id="selectSpeach"></select>
        <button id="btnSpeach">Перевести в голос</button>
    </div>
</div>


<script type="text/javascript" src={% static "js/apiSpeech.js" %}></script>
{% endblock %}